# ----- Systemd Deployment ----- #
KOKKAN_SERVICES=service1,service2,service3


# ----- Docker Deployment ----- #
PORT_GRAFANA=3000
PORT_LOKI=3100

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
