# ======= Environment ======= #
*.env

# ======= Python ======= #
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# ======= Reports / logs ======= #
reports/*.json
*.log

# ======= OS & Editor ======= #
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
